
.nav{
  grid-area: nav;
  background-color:#40404096;
  color: #e3e3e3;
  padding: 15px 0px;
  border-radius: 15px;
}
.item{

}
.link{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  display: block;
  color: #e3e3e3;
  text-decoration: none;
  cursor: pointer;
}
.link.active{
  background-color:#404040;
}